<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>

    <!-- Fontawesome v6.1.1 -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous' referrerpolicy='no-referrer'
    />

    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <aside id="chats_aside">
                <div class="aside_top">
                    <div class="user_info">
                        <div class="propic">
                            <img src="./assets/img/avatar_io.jpg" alt="">
                        </div>
                        <div class="name_contact fs_075">
                            Sofia
                        </div>
                        <div class="actions">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <!-- /user_info -->
                    <div class="notification">
                        <div class="icon_notification">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="text_notification">
                            <div class="text fs_075">Ricevi notifiche di nuovi messaggi</div>
                            <div class="action fs_075">Attiva notifiche desktop</div>
                        </div>
                    </div>
                    <!-- /notification -->
                    <div class="search_chat">
                        <button @click="searchContact">
                            <i class="fa-solid fa-search" class="fs_075"></i>
                        </button>
                        <input class="fs_075" type="text" placeholder="Cerca o inizia una nuova chat" v-model="searchKey" @keyup="searchContact">
                    </div>
                    <!-- /search_chat -->
                </div>
                <!-- /aside_top -->
                <div class="chats_preview">
                    <div class="chat" :class="activeChat === index ? 'active' : ''" v-for="(contact, index) in contacts" v-if="contact.visible" @click="getActive(index)">
                        <div class="propic">
                            <img :src="linkImg + contact.avatar + extensionImg" alt="">
                        </div>
                        <div class="details">
                            <div class="name_contact">{{contact.name}}</div>
                            <div class="last_message fs_075">{{contact.lastMsg.text}}</div>
                        </div>
                        <div class="time fs_075">{{contact.lastMsg.date}}</div>
                    </div>
                </div>
                <!-- /chats_preview -->

            </aside>
            <!-- /chats_aside -->
            <main id="chat_main">
                <div class="contact_info">
                    <div class="propic">
                        <img :src="linkImg + contacts[activeChat].avatar + extensionImg" alt="">
                    </div>
                    <div class="details fs_075">
                        <div class="name_contact">{{contacts[activeChat].name}}</div>
                        <div class="last_access">Ultimo accesso oggi alle {{contacts[activeChat].lastAccess}}</div>
                    </div>
                    <div class="actions">
                        <i class="fa-solid fa-search"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-v"></i>
                    </div>
                </div>
                <!-- /contact_info -->
                <div class="chat_body">
                    <div class="row" :class="thumb.status === 'sent' ? 'row_user' : 'row_contact'" v-for="(thumb, index) in contacts[activeChat].messages">
                        <div class="filter" v-if="thumb.dropDownVisible" @click="closePopUp"></div>
                        <div class="message">
                            <label for="" @click="clickMessage(thumb)"></label>
                            <span>{{thumb.message}}</span>
                            <div class="time fs_075">{{thumb.msgTime}}</div>
                            <div class="dropDown" :class="!thumb.dropDownVisible ? 'invisible' : ''">
                                <div class="dropDownItem">Message info</div>
                                <div class="dropDownItem" @click="deleteMessage(thumb, index)">Delete message</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /chat_body -->
                <div class="chat_type">
                    <div class="emoticons_action">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <!-- /emoticons_action -->
                    <input type="text" placeholder="Scrivi un messaggio" :oninput="validate()" v-model="txtMessage" @keyup.enter="sendMsg" @keyup.8="isTypeInputEmpty" @keypress="isTyping">
                    <!-- /input -->
                    <div class="vocal_action" v-if="!isTypingResult">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                    <div class="sending_action" v-else>
                        <i class="fa-solid fa-paper-plane" @click="sendMsg"></i>
                    </div>
                    <!-- /vocal_action -->
                </div>
                <!-- /chat_type -->
            </main>
            <!-- /chat_main -->

        </div>
    </div>

    <!-- Vue v2.6.14 -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>

    <script src="./assets/js/app.js"></script>
</body>

</html>