* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --success_dark: #009688;
    --primary_light: #8EDAFC;
    --icons_dark: #B1B1B1;
    --success_light: #D5F9BA;
    --bg_light: #EAEAEA;
}

body {
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

i {
    color: var(--icons_dark);
}

.container {
    width: 85%;
    height: 90vh;
    margin: 2rem auto;
    display: flex;
    border: 1px solid black;
}


/* #region common */

.propic,
.propic img {
    border-radius: 50%;
}

.active {
    background-color: #E9EBEB;
}


/* #endregion common */


/* #region utility */


/* font_size */

.fs_075 {
    font-size: 0.75rem;
}


/* #endregion utility */


/* #region hover */

.chats_preview>.chat:hover {
    background-color: #E9EBEB;
}


/* #region hover */


/* #region aside */

#chats_aside {
    width: 25%;
}


/* #region user_info */

.user_info {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--bg_light);
    gap: 0.5rem;
}

.user_info>.propic {
    width: 40px;
}

.user_info>.name_contact {
    flex: 2;
}

.user_info>.actions>i {
    margin: 0 0.25rem;
}


/* #endregion user_info */


/* #region notification */

.notification {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    background-color: var(--primary_light);
    gap: 0.5rem;
}

.notification>.icon_notification {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2FBFF;
    border-radius: 50%;
    width: 40px;
    aspect-ratio: 1 / 1;
}

.notification>.icon_notification>i {
    color: var(--primary_light);
}

.notification>.text_notification>.action {
    color: #4F7485;
    text-decoration: underline;
    cursor: pointer;
}


/* #endregion notification */


/* #region search_chat */

.search_chat {
    padding: 0.5rem 1rem;
    display: flex;
}

.search_chat>button,
.search_chat>input {
    padding: 0.25rem;
    display: block;
    border: none;
}

.search_chat>input {
    flex: 2;
}

.search_chat>button {
    background-color: transparent;
}


/* #endregion search_chat */


/* #region chats_preview */

.chats_preview {
    overflow-y: auto;
    height: calc(100% - 155px);
}

.chats_preview>.chat {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    transition: all 250ms linear;
}

.chats_preview>.chat>.propic {
    width: 50px;
}

.chats_preview>.chat>.details {
    flex: 2;
}

.chats_preview>.chat>.details>.last_message,
.chats_preview>.chat>.time {
    color: var(--icons_dark);
}


/* #endregion chats_preview */


/* #endregion aside */


/* #region chat_main */

#chat_main {
    width: 75%;
    height: 100%;
}


/* #region contact_info */

.contact_info {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background-color: var(--bg_light);
    gap: 0.5rem;
}

.contact_info>.propic {
    width: 40px;
}

.contact_info>.name_contact {
    flex: 2;
}

.contact_info>.actions>i {
    margin: 0 0.25rem;
}


/* #endregion contact_info */


/* #region chat_body */

.chat_body {
    background-image: url(./assets/img/mine.jpg);
    height: calc(100% - 58px - 60px);
}


/* #endregion chat_body */


/* #region chat_type */

.chat_type {
    display: flex;
    padding: 0.5rem;
    background-color: #F3EEEA;
}

.chat_type>.emoticons_action,
.chat_type>.vocal_action,
.chat_type>input {
    padding: 0.75rem;
}

.chat_type>input {
    flex: 2;
    border: none;
}


/* #endregion chat_type */


/* #endregion chat_main */